.sidebar {
  background-color: var(--gray-800);
  border-radius: 0.5rem;
  overflow: hidden;
}

.sidebarImg {
  width: 100%;
  height: 4.5rem;
  object-fit: cover; /*Does not disrtort the image */
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.profileInfo img{
  margin-top: calc(0px - 1.5rem - 0.75rem);
}

.avatar {
  padding: 0.25rem;
  border-radius: 8px;
  margin-top: calc(0px - 1.75rem - 0.5rem);
  height: calc(3rem + 4px + 0.5rem);
  width: calc(3rem + 4px + 0.5rem);
  border: 2px solid var(--green-500);
  background-color: var(--gray-800);
}

.avatar img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.profileInfo p {
  margin-top: 1rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.profileInfo span {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.profileAction {
  border-top: 1px solid var(--gray-600);
  padding: 1.5rem 2rem 2rem;
}

.profileAction a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--green-500);
  padding: 1rem 1.5rem;
  background-color: transparent;
  border: 1px solid var(--green-500);
  border-radius: 0.5rem;
  font-weight: bold;
  width: 100%;
  text-decoration: none;
  margin: 0;

  transition: 0.2s;
}

.profileAction a:hover {
  background-color: var(--green-500);
  color: var(---white);
}