.avatar {
  width: calc(3rem + 0.25rem + 12px);
  height: calc(3rem + 0.25rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}

.avatarClean {
  width: calc(3rem + 0.25rem);
  height: calc(3rem + 0.25rem);
  border-radius: 8px;
}